.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #005DA4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: fixed;
    z-index: 100;
    top: 30%;
    left: 50%;
}

.msg {
    top: 55%;
    left: 52%;
    position: fixed;
    text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}